/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: auto;  /* IE 10+ */


}

/* Анимация загрузки */
/* Анимация загрузки */





.music-widget {
width: 326px;
height: 208px;

position: fixed;
bottom: 16px; /* Расстояние от нижнего края экрана */
right: 16px; /* Расстояние от правого края экрана */

background-color: #121212;
border-radius: 12px;
color: #fff;
padding: 16px;
z-index: 100;
}

.music-widget-header {

display: flex;
align-items: center;
justify-content: space-between;
}

.music-widget-icon img {
width: 60px;
height: 60px;
border-radius: 6px;
object-fit: cover;
}



.music-widget-info {


flex-grow: 1;
margin-left: 12px;
}

.track-title {
font-weight: bold;
font-size: 14px;

font-weight: 900;
}

.track-name {
margin-top: -6px;
font-size: 14px;
font-weight: 400;
color: #898989;
font-weight: 900;
}

.music-widget-controls {
display: flex;
justify-content: center;
align-items: center;
}

.music-widget-controls button {
color: #000000; /* Цвет кнопки белый */
font-size: 20px;
cursor: pointer;
background-color: #ffffff; /* Фон кнопки белый */
border: none;
width: 40px; /* Размер круга */
height: 40px;
border-radius: 50%; /* Создаёт круг */
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для круга */
padding-left: 5px;
padding-top: 1px;
}

.music-widget-controls button:hover {

transform: scale(1.1); /* Увеличение при наведении */
transition: 0.7s;
}



.track-details {

position: absolute;
justify-content: space-between;
font-size: 14px;
color: #aaa;
}

.track-details .track-namemini{
color: #ffffff;
font-weight: 1000;
position: fixed;
margin-top: 9px;
margin-left: 45px;
text-align:center;

}
.track-details .track-artist{
position: fixed;
margin-top: 24px;
margin-left: 45px;
text-align:center;
}
.track-details .track-duration{
position: fixed;
margin-top: 15px;
margin-left: 225px;
text-align:center;
}

.track-details .music-widget-iconmini img{
position: absolute;
width: 40px;
height: 40px;
margin-top: 8px;
margin-left: 0px;
border-radius: 5px;
}

.progress-bar {
width: 111%;
height: 55px;
background-color: #121212;

overflow: hidden;
margin: 10px 0;
margin-left: -16px;
}

.progress-bar-fill {
height: 100%;
background-color: #252525;
width: 0;
transition: width 0.5s ease;
}

.volume-control {
display: flex;
align-items: center;
gap: 8px;
}

.volume-slider {
flex-grow: 1;
position: relative;
}

.volume-slider-fill {
position: absolute;
height: 6px;
background-color: #252525;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 50%;
}

.volume-slider input[type="range"] {
width: 100%;
background: transparent;
position: absolute;
height: 6px;

}

.volume-slider input[type="range"]::-webkit-slider-thumb {
width: 12px;
height: 12px;
border-radius: 50%;
background: #1db954;
cursor: pointer;
}

@media (max-width: 768px) {

.music-widget{
  width: 342px;
  height: 120px;
}
.music-widget-header .music-widget-info{
  display: none;
}

.music-widget-header .music-widget-icon{
  display: none;
}

.music-widget-header .music-widget-controls{
  position: absolute;
  width: 552px;
  margin-top: 82px;

}
.music-widget-body .volume-control{
  display: none;
}

.progress-bar{
  width: 108%;
  height: 65px;
}




.track-details .track-namemini{
  font-size: 20px;
  color: #ffffff;
  font-weight: 1000;
position: fixed;
margin-top: 9px;
margin-left: 57px;
text-align:center;

}
.track-details .track-artist{
  font-size: 15px;
  position: fixed;
  margin-top: 31px;
  margin-left: 57px;
  text-align:center;
}
.track-details .track-duration{
 display: none;
}

.track-details .music-widget-iconmini img{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-left: 0px;
  border-radius: 5px;
}


}







.cardw {
background: rgba(255, 255, 255, 0.1);
border-radius: 15px;
text-align: center;
padding: 20px;
}

.cardw .card-border-top {
width: 60%;
height: 3px;
background: #fff;
margin: 0 auto 20px;
border-radius: 15px;
}

.cardw .img {
width: 100px;
height: 100px;
margin: 0 auto 10px;
border-radius: 50%;
overflow: hidden;
border: 3px solid #fff;
}

.cardw .img img {
width: 100%;
height: 100%;
object-fit: cover;
}

.cardw span {
font-weight: 600;
color: #fff;
display: block;
font-size: 18px;
}

.cardw .jobw {
font-weight: 400;
color: #ddd;
font-size: 14px;
}



body.no-scroll {
overflow: hidden;
}

/* Основные стили */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Навыки */
.skills {
background: #f9f9f9;
padding: 5rem 0;
}

.skills-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 2rem;
}

.skill-item {
background: #fff;
border-radius: 10px;
padding: 0.3rem;
flex: 1 1 calc(33.333% - 2rem);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
transform: translateY(-10px);
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.skill-item .icon {
font-size: 4rem;
color: #ff4500;
margin-bottom: -1rem;
}

.skill-item h3 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}

.skill-item p {
font-size: 1rem;
color: #666;
}

/* Проекты */
.projects {
background: #1c1c1e;
padding: 5rem 0;
}

.projects-grid {
display: flex;
flex-wrap: wrap;
gap: 2rem;
}

.project-card {
position: relative;
flex: 1 1 calc(33.333% - 2rem);
overflow: hidden;
border-radius: 10px;
transition: transform 0.3s;
}

.project-card:hover {
transform: translateY(-10px);
}

.project-image {
height: 100%;
overflow: hidden;
}

.project-image img {
width: 100%;
height: 100%;
object-fit: unset; /* Позволяет изображению полностью покрывать контейнер */
transition: transform 0.5s ease;
}

.project-card:hover .project-image img {
transform: scale(1.1);
}

.project-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(28, 28, 30, 0.85);
opacity: 0;
transition: opacity 0.5s ease;
color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px;
}

.project-card:hover .project-overlay {
opacity: 1;
}

.project-overlay h3 {
margin-bottom: 10px;
font-size: 1.5rem;
}

.project-overlay p {
margin-bottom: 20px;
font-size: 1rem;
}

.project-overlay .btn {
margin: 5px 0;
padding: 0.75rem 1.5rem;
background: #ff4500;
color: #fff;
border-radius: 30px;
text-decoration: none;
font-weight: 600;
transition: background 0.3s;
}

.project-overlay .btn:hover {
background: #ff8c00;
}

/* Адаптивность */
@media (max-width: 992px) {
.skill-item,
.project-card {
  flex: 1 1 calc(50% - 2rem);
}
}

@media (max-width: 768px) {
.skill-item,
.project-card {
  flex: 1 1 100%;
}
}


/* Контейнер */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Шапка */
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;
  backdrop-filter: blur(10px); /* Добавляет размытие */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */

}

.header.scrolled {
backdrop-filter: blur(10px); /* Размытие при прокрутке */
-webkit-backdrop-filter: blur(10px); /* Для Safari */
background: rgba(0, 0, 0, 0.904);

}

.container{
backdrop-filter: blur(10px); /* Размытие при прокрутке */
-webkit-backdrop-filter: blur(10px); /* Для Safari */
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}



.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}


/* Языковой переключатель */
.language-switcher button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: color 0.3s;
}

.language-switcher button:hover {
  color: #ff8c00;
}

/* Меню */
/* Мобильное меню */
.nav {
position: fixed;
top: 0;
right: -100%;
width: 250px;
height: 100%;
background: rgba(28, 28, 30, 0.95);
display: flex;
flex-direction: column;
align-items: flex-start;
padding-top: 5rem;
box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
opacity: 0;
transform: translateX(100%);
z-index: 999;
}

.hidden {
opacity: 0;
transition: opacity 0.5s;
display: none;
}

.preloader {
position: absolute;
width: 100%;
  height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
background-color: #121212;
z-index: 10000;
overflow: hidden;

}

.grid {
display: grid;
grid-template-columns: 50px 50px;
grid-template-rows: 50px 50px;
gap: 20px;
}

.box {
width: 50px;
height: 50px;
background-color: #333;
border-radius: 8px;
opacity: 0.3;
transition: opacity 0.5s, background-color 0.5s;
-webkit-box-shadow:0px 0px 96px 0px rgba(45,255,196,0.48);
-moz-box-shadow: 0px 0px 96px 0px rgba(45,255,196,0.48);
box-shadow: 0px 0px 96px 0px rgba(45,255,196,0.48);
}

body.no-scroll {
overflow: hidden;
}

#status {
font-size: 1.2rem;
font-weight: bold;
color: #4caf50;
text-align: center;
opacity: 0;
}

.status {
display: block;

}


.show {
opacity: 1;
}

.faded-out {
opacity: 0;
transition: opacity 1.5s ease;
pointer-events: none;
}

.nav.active {
opacity: 1;
transform: translateX(0);
}

.nav-links {
display: flex;
flex-direction: column;
width: 100%;
gap: 1.5rem;
}

.nav-links li {
width: 100%;
}

.nav-links a {
display: block;
padding: 1rem 2rem;
color: #fff;
font-size: 1.2rem;
font-weight: 500;
text-transform: uppercase;
transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
color: #ff8c00;
transform: scale(1.05);
}

.menu-icon {
display: block;
font-size: 2rem;
color: #fff;
cursor: pointer;
z-index: 1000;
transition: transform 0.3s;
}

.menu-icon:hover {
transform: rotate(90deg);
}


/* Иконка меню */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* Мобильное меню */
@media (max-width: 768px) {
  .nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 250px;
      height: 100%;
      background: #1c1c1e;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 5rem;
      transition: right 0.3s;
  }

  .nav.active {
      right: 0;
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
  }

  .nav-links li {
      width: 100%;
  }

  .nav-links a {
      padding: 1rem 2rem;
      width: 100%;
      display: block;
  }

  .menu-icon {
      display: block;
  }
}

/* Герой-секция */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #1f1f1f);
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}

.hero h1 {
  font-size: 3rem;
  animation: fadeInDown 1s forwards;
}

.hero p {
  font-size: 1.5rem;
  animation: fadeInUp 1s forwards;
}



@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Секции */
.section {
  padding: 5rem 0;
}

.section h2 {
  text-align: left;
  font-size: 2.5rem;
  color: #ff4500;
  margin-bottom: 1rem;
}

/* О себе */
.about-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.about-photo {
  position: relative;
  width: 100%;
  max-width: 450px;
}

.about-photo::before {
  content: '';
  position: absolute;

  top: -15px;
  left: -2000px; /* Изменено с -6000px на -15px */
  right: -15px;
  bottom: 31px;
  background: linear-gradient(1deg, #fffffe 0%, #333 100%);
  z-index: -1;
  border-radius: 20px;
}


.about-photo img {
  width: 100%;
  border-radius: 15px;
  transform: scaleX(-1);
}

.about-text {
  flex: 1;
  position: relative;
}

.about-text h2 {
  color: #ff4500;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-top: 1rem;
}

/* Стиль для кнопки «Резюме» с золотым эффектом */
.resume-btn {
position: relative;
overflow: hidden;
display: inline-block;
margin-top: 2rem;
padding: 0.75rem 2rem;
background: linear-gradient(45deg, #ff4500, #f57c50);
color: #fff;
font-weight: 600;
border: none;
border-radius: 30px;
cursor: pointer;
transition: transform 0.3s, box-shadow 0.3s;
}

.resume-btn:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px #ff4400;
}

/* Эффект блеска при наведении */
.resume-btn::before {
content: '';
position: absolute;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5) 0%, transparent 70%);
transform: rotate(45deg);
opacity: 0;
transition: opacity 0.5s;
}

.resume-btn:hover::before {
opacity: 0.3;
animation: shine 1s forwards;
}

@keyframes shine {
from {
  transform: rotate(45deg) translate(-100%, -100%);
}
to {
  transform: rotate(45deg) translate(100%, 100%);
}
}

/* Навыки */
.skills {
  background: #1c1c1e;
}

.skills-grid {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  overflow-y: visible;
  padding: 1rem 0;
}

.skills-grid::-webkit-scrollbar {
height: 8px;
}

.skills-grid::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 5px;
}

.skills-grid::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

.social-icon i {
  position: relative;
  top: 3px; /* Смещает иконку вниз на 2 пикселя */
  left: -5px;
  font-size: 22px;
}

.skill-icon {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-icon:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.skill-icon i {
  font-size: 3rem;
  color: #ff4500;
  transition: color 0.3s;
}

.skill-icon:hover i {
  color: #ff8c00;
}

.contact-text.p{
bottom: 10px;
}

/* Проекты */
.projects {
  background: #1c1c1e;
  padding: 5rem 1rem; /* Добавлен отступ по бокам */
}

.projects-grid {
display: grid;
grid-auto-flow: column; /* Располагает элементы в колонках, создавая горизонтальную прокрутку */
grid-auto-columns: minmax(500px, 1fr); /* Устанавливает ширину колонок */
gap: 20px;
overflow-x: visible;
height: 300px;
padding: 1rem 0;
overflow: auto;
}



.material-symbols-outlined {
font-variation-settings:
'FILL' 1,
'wght' 400,
'GRAD' 0,
'opsz' 24
}




.project-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}




.project-content {
  padding: 20px;
}

.project-buttons {
  margin-top: 15px;
}


.project-content h3 {
  font-size: 1.5rem;
  color: #ff4500;
  margin-bottom: 1rem;
}

.project-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.project-content .btn {
display: block;
position: relative;

bottom: 0; /* Прижимаем кнопку к нижнему краю */
  padding: 0.5rem 1rem;
  text-align: center;
  background: #ff4500;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  transition: background 0.3s;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  
}
.project-buttons .btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #0078ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-buttons .btn:hover {
  background-color: #0056b3;
}

.project-content .btn:hover {
  background: #ff8c00;
}


.projects-grid::-webkit-scrollbar {
height: 8px;
}

.projects-grid::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 5px;
}

.projects-grid::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

/* Обертка для формы */
.contact-form-wrapper {
  flex: 1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

/* Общие стили для социальных кнопок */
.social-links .social-icon {
  display: inline-flex;
  align-items: center;
  margin: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s;
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: 600;
}

/* Стили для иконок внутри кнопок */
.social-links .social-icon i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

/* Индивидуальные стили для каждой кнопки */
.social-links .github {
  background: #333; /* Темно-серый цвет GitHub */
}

.social-links .github:hover {
  background: #24292e; /* Немного темнее при наведении */
}

.social-links .telegram {
  background: #0088cc; /* Официальный синий цвет Telegram */
}

.social-links .telegram:hover {
  background: #006699; /* Темнее при наведении */
}

.social-links .steam {
  background: #171a21; /* Официальный цвет Steam */
}

.social-links .steam:hover {
  background: #0d0f15; /* Темнее при наведении */
}


/* Оверлей над формой */
.contact-form-wrapper .overlay {
  flex: 1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 30, 0.8); /* Полупрозрачный темный фон */
  backdrop-filter: blur(5px); /* Эффект размытия фона */
  -webkit-backdrop-filter: blur(5px); /* Для поддержки в Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Располагаем поверх формы */
}

/* Стили для текста внутри оверлея */
.contact-form-wrapper .overlay-content {
  text-align: center;
  color: #fff;
}

.contact-form-wrapper .overlay-content h3 {
  font-size: 2rem;
  margin: 0;
}


.projects .overlay1 {
  flex: 1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 30, 0.8); /* Полупрозрачный темный фон */
  backdrop-filter: blur(5px); /* Эффект размытия фона */
  -webkit-backdrop-filter: blur(5px); /* Для поддержки в Safari */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Располагаем поверх формы */
}

/* Стили для текста внутри оверлея */
.projects .overlay-content1 {
  text-align: center;
  color: #fff;
}

.projects .overlay-content1 h3 {
  font-size: 2rem;
  margin: 0;
}

/* Контакты */
.contact-grid {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.contact-form,
.contact-info {
  flex: 1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.contact-form {
  background: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 1rem;
  background: #1c1c1e;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #ff4500;
}

.contact-info {
  background: #1c1c1e;
  color: #fff;
}

.contact-info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
/* Стили для музыкального плеера */
/* Стили музыкального плеера */
.music-player {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 240px;
  background-color: #1c1c1e;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}

.music-player__cover img {
  width: 100%;
  height: auto;
  border-radius: 11px;
}

.music-player__info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.music-player__details {
  flex: 1;
}

.music-player__details h3 {
  margin: 0;
  font-size: 1rem;
}

.music-player__details p {
  margin: 5px 0 0;
  font-size: 0.875rem;
  color: #ccc;
}

.music-player__controls {
  display: flex;
  align-items: center;
}

.control-button {
  background: none;
  border: none;
  color: #ff4500;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}

.control-button:hover {
  color: #ff8c00;
}

.music-player__progress-container {
  width: 100%;
  background: #444;
  cursor: pointer;
  height: 6px;
  position: relative;
  top: -50px;
}
.music-player__progress {
  background: #ff4500;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
}

.music-player__volume {
  display: flex;
  align-items: center;
  padding: 10px;
}

.music-player__volume i {
  font-size: 1.5rem;
  color: #ff4500;
  margin-right: 10px;
  cursor: pointer;
}

.music-player__volume input[type="range"] {
  width: 100%;
  appearance: none;
  background: #444;
  height: 4px;
  outline: none;
}

#instructions {
  position: absolute;
  color: #666;
  bottom: 0;
  padding-bottom: 6px;
  left: 10px;
}
  

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .music-player {
    width: 30%;
    left: 5%;
    bottom: 10px;
    visibility: hidden;
    display: none;
  }


  .music-player__info {
    margin-top: 1px;
    display: flex;
    align-items: center;

    flex-direction: column;
    align-items: flex-start;
    height: 120px;
  }

  .music-player__details {
    margin-bottom: 10px;
  }

  .music-player__details h3 {
    font-size: 1rem;
  }

  .music-player__details p {
    font-size: 0.875rem;
  }

  .control-button {
    font-size: 2rem;
    margin-left: 0;
    margin-right: 10px;
  }

  .music-player__controls {
    width: 100%;
    justify-content: space-around;
    margin-top: 14px;
    

  }

  .music-player__volume {
    padding: 10px;
  }

  .music-player__volume i {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .music-player__volume input[type="range"] {
    width: calc(100% - 40px);
  }

  .music-player__cover{
      width: 50%;
      height: 50%;
      border-radius: 11px;
  }

  .music-player__time {
    display: flex;
    justify-content: center;
    padding: 1px 0;
    color: #fff;
    font-size: 0.7rem;
  }



}


.music-player__time {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #fff;
  font-size: 0.7rem;
}

.music-player__volume input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}

.music-player__volume input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}
.music-player__progress::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}

.music-player__progress::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 480px) {
  .music-player {
    width: 90%;
    left: 5%;
    bottom: 10px;
  }

  .control-button {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  .music-player__details h3 {
    font-size: 0.9rem;
  }

  .music-player__details p {
    font-size: 0.75rem;
  }
}  


/* Футер */
.footer {
  background: #1c1c1e;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* Плавный скроллинг */
html {
  scroll-behavior: smooth;
}

/* Медиазапросы */
@media (max-width: 768px) {
  .about-container {
      flex-direction: column;
      text-align: center;
  }



  .projects-grid {
      overflow-x: auto; /* Обеспечивает горизонтальную прокрутку на мобильных устройствах */
      -webkit-overflow-scrolling: touch; /* Для плавной прокрутки на iOS */

  }
  .project-card {
      min-width: 300px;
      height: 100%;
/* Регулирует ширину карточек на мобильных устройствах */
  }

  .section h2 {
      text-align: center;
  }

  .contact-grid {
      flex-direction: column;
  }

  .language-switcher {
      order: 1;
  }

  .logo {
      order: 2;
  }

  .menu-icon {
      order: 3;
  }


}